
.vs/GruppUpggiftC++/v16/Browse.VC.opendb
.vs/GruppUpggiftC++/v16/Preview/ipch/AutoPCH/eb3f6980aab351c3/GRUPPUPGGIFTC++.ipch
.vs/GruppUpggiftC++/v16/Preview/ipch/AutoPCH/b6f4799538fec6a/CUSTOMER.ipch
.vs/GruppUpggiftC++/v16/Preview/Browse.VC.opendb
.vs/GruppUpggiftC++/v16/.suo
*.ipch
*.ipch
*.db
*.ipch
